.container-1, .container-2, .container-3{
    border: 1px solid black;
    width: 60%;
    margin: auto;
    text-align: center;
    text-shadow: 10px;
    
}

.flex-box-container-1, .flex-box-container-2, .flex-box-container-3 {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
    text-align: center;
    
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
    
}

.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);

}

#paper:hover{
    box-shadow: 0px 10px 50px rgba(238, 99, 99, 0.7);
} 

#scissors:hover{
    box-shadow: 0px 10px 50px rgba(99, 131, 238, 0.7);
}

#rock:hover{
    box-shadow: 0px 10px 50px rgba(32, 151, 72, 0.7);
}

/* #game_result{
    display: flex;
    align-items: center;
    color: green;
    text-align: center;
    justify-content: space-around;

} */